<header>
    <app-header />

    <app-user 
        [user]="selectedUser()"
        (selected)="onSelectedUser($event)"/>
</header>

<main>

    <section class="weights-container">
        <div class="header-row">
            <h2>Entries</h2>
            <button (click)="onAddNewEntry()">Add Entry</button>
        </div>

        <div class="weight-table-container">
            <app-weight-table 
                [entries]="weightEntries"/>
        </div>
    </section>

    <section class="stats-container">
        <div class="header-row">
            <h2>Statistics</h2>
        </div>

        <app-weight-stat 
            label="Lowest"
            [value]="lowestWeight"
            [date]="lowestWeightDate" />
        
        <app-weight-stat 
            label="Highest"
            [value]="highestWeight"
            [date]="highestWeightDate" />

        <app-weight-stat 
            label="Average"
            [value]="averageWeight" />
    </section>

    @if(showNewEntry) {
        <section class="new-entry-container">
            <app-weight-new 
                (close)="onCloseNewEntry()"
                (add)="onNewEntry($event)"/>
        </section>
    }

</main>

<router-outlet />
