header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weights-container {
    width: 500px;
}

.header-button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
