<header>
    <app-header />

    <app-user 
        [user]="selectedUser()"
        (selected)="onSelectedUser($event)"/>
</header>

<main>

    <section class="weights-container">
        <div class="header-button-row">
            <h2>Entries</h2>
            <button (click)="onAddNewEntry()">Add Entry</button>
        </div>

        <div class="weight-table-container">
            <app-weight-table 
                [entries]="weightEntries"/>
        </div>
    </section>

    @if(showNewEntry) {
        <app-weight-new 
            (close)="onCloseNewEntry()"/>
    }

</main>

<router-outlet />
