.container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.container > .row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.header {
    font-weight: bold;
}

.row {
    display:flex;
    justify-content: space-between;
    padding: 10px;
}