.container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.header {
    font-weight: bold;
}

.row {
    display:flex;
    justify-content: space-between;
    padding: 10px;
}