<div class="trend-container">

    <div class="header-container">
        <h3>{{ trend.year }}</h3>
    </div>

    <div class="value-container">
        <p>
            <span class="trend-label">Min:</span> <br/>
            <span class="trend-value">
                {{ trend.data.min }}
            </span>
        </p>
    </div>
    <div class="value-container">
        <p>
            <span class="trend-label">Max:</span> <br/>
            <span class="trend-value">
                {{ trend.data.max }}
            </span>
        </p>
    </div>
    <div class="value-container">
        <p>
            <span class="trend-label">Avg:</span> <br/>
            <span class="trend-value">
                {{ trend.data.avg | number: '1.2' }}
            </span>
        </p>
    </div>
</div>
