.trend-container {
    display: flex;
    flex-wrap: wrap;
    width: 605px;
    // padding: 5px 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.trend-content {
    margin: 0;
}