.trend-container {
    display: flex;
    flex-wrap: wrap;
    width: 605px;
    // padding: 5px 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.p-card,
.p-card-content {
    padding: 0 !important;
}

.trend-content {
    margin: 0;
}