<div class="main-container">

  <div class="year-display-select">
    <div>
      <h1>{{ selectedYear }}</h1>
    </div>
    
    <div class="year-select">
      <p-dropdown 
        [options]="selectableYears" 
        [(ngModel)]="selectedYear" 
        optionLabel="label"
        optionValue="value"
        (onChange)="getEntriesForSelectedYear($event)">
      </p-dropdown>
    </div>
  
  </div>

  <div class="weight-trends">
    <div class="trend-container">
      <h2>Min</h2>
      <h3>{{ getValue(weightMin) }}</h3>
      <p>{{ getDate(weightMin) }}</p>
    </div>
    <div class="trend-container">
      <h2>Max</h2>
      <h3>{{ getValue(weightMax) }}</h3>
      <p>{{ getDate(weightMax) }}</p>
    </div>
    <div class="trend-container">
      <h2>Avg</h2>
      <h3>{{ weightAvg }}</h3>
    </div>
  </div>

  <div *ngIf="isDataLoaded; else dataLoading">

    <p-table [value]="weights" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
          <th>Entry</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-weight>
        <tr>
          <td>{{ weight.date }}</td>
          <td>{{ weight.value }}</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
  <ng-template #dataLoading>
    Loading...
  </ng-template>

</div>