.main-container {
    width: 900px;
    margin: 0 auto;
}

.year-display-select {
    display: flex;
    justify-content: space-between;
}

.year-select {
    display: flex;
    align-items: center;
}

.trend-presentation-container {
    display: flex;
    margin-top: 10px;
}
.presentation-container {
    flex-grow: 4;
    margin-bottom: 20px;
}
.trend-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}
.trend-value-container {
    padding: 0 10px;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.weights-table-caption {
    display: flex;
    justify-content: space-between;
}

