div {
    border: 1px solid #aaa;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(6 1fr);
    column-gap: 10px;
    grid-template-rows: repeat(10 1fr);
    row-gap: 10px;
 }

 .header {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2;
    display: flex;
    justify-content: space-between;
 }

 .info-a, .info-b, .info-c {
    grid-row-start: 3;
    grid-row-end: 4;
 }

 .info-a {
    grid-column: 1 / span 2;
 }

 .info-b {
    grid-column: 3 / span 2;
 }

 .info-c {
    grid-column: 5 / span 2;
 }