<div class="main-container">

  <div class="header">
    <div>
      <h3>Weight Tracking</h3>
    </div>
    
    <div class="year-select">
      <p-dropdown 
        [options]="selectableYears" 
        [(ngModel)]="selectedYear" 
        optionLabel="label"
        optionValue="value"
        (onChange)="getEntriesForSelectedYear($event)">
      </p-dropdown>
    </div>
  </div>

  <div class="info-a">
      <h4>Info A</h4>
  </div>
  
  <div class="info-b">
      <h4>Info B</h4>
  </div>
  
  <div class="info-c">
      <h4>Info C</h4>
  </div>
</div>