.list-display {
    width: 375px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.header-container {
    width: 100%;
    border-bottom: 1px solid #bbb;
}

.list-display-entry {
    display: flex;
    width: 100%;
}
.list-display-entry > div {
    padding-top: 5px
}

.list-display-month {
    flex: 1 1 30%;
}
.list-display-value {
    flex: 1 1 70%;
}